body {
	font-family: "raleway" , helvetica, sans-serif;
	margin: 30px 30px 30px 30px;
	padding: 20px 20px 20px 20px;
	line-height: 1.2;
	font-style: normal;
	max-width: 800px;
	font-size: 12px;
	border: 1px dotted;

}
h1{
	font-size: 35px;
	text-transform: uppercase;
}


h2  {

	margin-top: 20px;
	margin-bottom: 20px;
	font-style: bold;
	text-transform: uppercase;
	font-size: 14;
	color: #EE2A7B;
	line-height: 1px;
}

h3, h4{
	margin-top: 3px;	
	color: #4C484A;

}
h4{
	font-style: italic;
	margin-top: -5px;
	margin-bottom: -5px;
}

body>header>img+img{
	float: left;
	padding-top: 5px;
	padding-left: 0px;
}

#contact {
	margin-top: 10px;
	line-height: 25px;
	list-style: none;
}

#skills {
	margin-top: 10px;
	columns:120px 3;
	-webkit-columns:120px 3;
	-moz-columns:100px 3; 
	CEC4C8-moz-columns:100px 3; 
}

p{
	margin-top: 10px;
	margin-bottom: 10px;
}